{% extends './layout.html' %} {% block content %}
<div id="main" role="main" class="postlist">

    {% for post in posts %}
    <article data-post-id="blog/why-the-usa-is-so-boring-1" class="post hentry clearfix">
        <aside class="entry-meta">
            <time datetime="{{post.create_time}}" class="post-date published">
                <span class="post-month">{{post.post_month}}月</span>
                <strong class="post-day">{{post.post_day}}</strong>
                <span class="post-year">{{post.post_year}}</span>
            </time>
            <ul>
                <!-- <li>本文由
                    <strong>
                        <a href="http://opencc.byvoid.com/" target="_blank">OpenCC</a>
                    </strong>转换</li> -->
                <li>
                    <span class="title">作者:
                        <span class="author">
                            {% set user = post.user %} {% if user.display_name %}{{user.display_name}}{% else %}{{user.name}}{% endif %}
                        </span>
                    </span>
                </li>
                <li>
                    <ul>

                        {% if post.tag.length %} {% for tag in post.tag %}
                        <li>
                            <a href="/tag/{{tag.pathname}}" data-tag="{{tag.name}}">
                                <code class="notebook">{{tag.name}}</code>
                            </a> 
                        </li>
                        {% endfor %} {% endif %}
                    </ul>
                </li>
                <!-- <li>
                    <span class="title">阅读: 178086</span>
                </li> -->
            </ul>
        </aside>
        <section class="entry-body entry-body-content">
            <header>
                <h1>
                    <a href="/post/{{post.pathname}}.html" data-post-id="/post/{{post.pathname}}.html" class="post_header_link entry-title">{{post.title}}</a>
                </h1>
            </header>
            {{post.content| safe}}
        </section>
    </article>
    {% endfor %} {% include "./inc/pagination.html" %}
</div>
{% endblock %}