<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{options.favicon_url |default('/static/img/firekylin.jpg')}}"> {% if options.favicon %}
    <link rel="shortcut icon" href="{{options.favicon}}" type="image/x-icon">{% endif %}
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss.html">
    <link rel=search type="application/opensearchdescription+xml" href="/opensearch.xml" title="{{ options.title }}">
    <link rel="stylesheet" href="/theme/simplecorp/res/css/style.css" type="text/css" data-ls="css_firekylin"> {% if options.keywords %}
    <meta name="keywords" content="{{options.keywords}}">{% endif %} {% if options.description %}
    <meta name="description" content="{{options.description}}">{% endif %}
</head>

<body>
    <div id="page">
        <div id="page-top" class="container clearfix">
            <div id="pre-header">
                <div id="social-icons">
                    <ul id="social-links">
                        <li class="facebook-link">
                            <a id="social-01" href="https://www.facebook.com/byvoid" target="_blank" original-title="Find me on Facebook" class="facebook"></a>
                        </li>
                        <li class="twitter-link">
                            <a id="social-02" href="https://twitter.com/byvoid" target="_blank" original-title="Find me on Twitter" class="twitter"></a>
                        </li>
                        <li class="linkedin-link">
                            <a id="social-04" href="https://www.linkedin.com/in/byvoid" target="_blank" original-title="My LinkedIn" class="linkedin"></a>
                        </li>
                        <li class="github-link">
                            <a id="social-05" href="https://github.com/BYVoid" target="_blank" original-title="My projects on Github" class="github"></a>
                        </li>
                        <li class="google-link">
                            <a id="social-06" href="https://plus.google.com/+CarboKuo" target="_blank" original-title="Find me on Google +" class="google"></a>
                        </li>
                        <li class="weibo-link">
                            <a id="social-07" href="http://weibo.com/byvoid" target="_blank" original-title="新浪微博" class="weibo"></a>
                        </li>
                        <li class="rss-link">
                            <a id="social-09" href="/zhs/feed" target="_blank" original-title="RSS feed" class="rss"></a>
                        </li>
                    </ul>
                </div>
            </div>
            {% include "./inc/header.html" %}
        </div>
        <div id="content" class="container clearfix">
            <div id="banner-image" class="container clearfix">
                <div id="banner-image-1"></div>
            </div>
            <section id="content-main">
                {% block content %} {% endblock %}
            </section>
            {% include "./inc/aside.html" %}
        </div>
        {% include "./inc/footer.html" %}
    </div>
    <script src='/theme/simplecorp/res/js/plugins/jquery-1.8.2.js'></script>
    <script src='/theme/simplecorp/res/js/plugins/modernizr-2.6.2.js'></script>
    <script src='/theme/simplecorp/res/js/plugins/yepnope.js'></script>
    <script src='/theme/simplecorp/res/js/plugins/behaviours.js'></script>
    <script src='/theme/simplecorp/res/js/plugins/jquery.prettyPhoto.js'></script>
    <script src='/theme/simplecorp/res/js/plugins/tagcanvas.min.js'></script>

{% block page_self_script %}
{% endblock %}
{% if options.analyze_code %}
  {{options.analyze_code | safe}}
{% endif %}
</body>

</html>