{% extends './layout.html' %}

{% block title -%}
{{post.title}} - {{options.title}}
{%- endblock %}

{% block headers -%}
<link rel="canonical" href="{{site_url}}/post/{{post.pathname}}.html" />
{%- endblock %}

{% block content %}

<div id="content" class="content">
        <article class="post">
          <header class="post-header">
            <h1 class="post-title">
                {{post.title}}
            </h1>
            <div class="post-meta">
              <span class="post-time">
                Jan 21, 2018
              </span>
            </div>
          </header>
          <div class="post-content">
                {{post.content  | safe}}
          </div>
       
            {% include "./inc/copyright.html" %}

            <footer class="post-footer">
                 
                    <div class="post-tags">
                            {% if post.tag.length %}
                            {% for tag in post.tag %}
                            <a href="/tag/{{tag.pathname}}" data-tag="{{tag.name}}">
                               {{tag.name}}
                            </a>
                            {% endfor %}
                            {% endif %}
                    </div>  
                    {%if post.prev.title or post.next.title %}
                    <nav class="post-nav">
                            {% if post.prev.title %}
                              <a class="prev" href="/post/{{ post.prev.pathname }}.html">
                                <i class="iconfont icon-left"></i>
                                <span class="prev-text nav-default">{{ post.prev.title }}</span>
                              </a>
                            {% endif %}
                            {% if post.next.title %}
                              <a class="next" href="/post/{{ post.next.pathname }}.html">
                                <span class="next-text nav-default">{{ post.next.title }}</span>
                                <i class="iconfont icon-right"></i>
                              </a>
                            {% endif %}
                    </nav>
                    {% endif %}
            </footer>
      </article> 
 </div>
{% endblock %}

{% block page_self_script %}
<link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/github.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/fancybox/3.2.5/jquery.fancybox.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/fancybox/3.2.5/jquery.fancybox.min.js"></script>

<script>
$('.post-content').find('img').each(function () {
  var alt = this.alt;
  $(this).wrap('<a data-fancybox="gallery" href="' + this.src + '" title="' + alt +
      '" class="fancybox" rel="gallery" />');
});
(function ($) {
  $('.fancybox').fancybox({
      transitionIn: 'elastic',
      transitionOut: 'elastic'
  });
})(jQuery);

$("pre code").each(function(){
  $(this).html("<ul><li>" + $(this).html().replace(/\n/g,"\n</li><li>") +"\n</li></ul>");
});
</script>
{% endblock %}