<footer id="footer">
        <div class="container clearfix">
            <div class="first one-fourth widget-container">
                <h1>Blogroll</h1>
                <ul>
                    <li>
                        <a href="http://maskray.me/" target="_blank">MaskRay</a>
                    </li>
                    <li>
                        <a href="http://ppwwyyxx.com/" target="_blank">Yuxin's Blog</a>
                    </li>
                    <li>
                        <a href="https://blog.blahgeek.com/" target="_blank">BlahGeek</a>
                    </li>
                    <li>
                        <a href="http://yangzhe1990.wordpress.com/" target="_blank">Yangzhe1990's Blog</a>
                    </li>
                </ul>
            </div>
            <div class="one-fourth widget-container">
                <h1>Blogroll</h1>
                <ul>
                    <li>
                        <a href="http://dangfan.me/" target="_blank">Dang Fan's Blog</a>
                    </li>
                    <li>
                        <a href="http://www.curimit.com/blog/" target="_blank">Swj's Home</a>
                    </li>
                    <li>
                        <a href="http://www.csslayer.info/" target="_blank">CS Slayer</a>
                    </li>
                </ul>
            </div>
            <div class="one-fourth widget-container">
                <h1>Blogroll</h1>
                <ul>
                    <li>
                        <a href="http://typeof.net/" target="_blank">Typeof.net</a>
                    </li>
                    <li>
                        <a href="http://blog.henryhu.net/" target="_blank">Henry's Blog</a>
                    </li>
                    <li>
                        <a href="http://blog.sina.com.cn/ychromosome" target="_blank">polyhedron(古韻)</a>
                    </li>
                    <li>
                        <a href="http://zhiqiang.org/blog/" target="_blank">閱微堂</a>
                    </li>
                </ul>
            </div>
            <div class="last one-fourth widget-container">
                <h1>Blogroll</h1>
                <ul>
                    <li>
                        <a href="http://www.liyaos.com/" target="_blank">優哉幽齋</a>
                    </li>
                    <li>
                        <a href="http://www.vuryleo.com/" target="_blank">超越時空</a>
                    </li>
                    <li>
                        <a href="http://solog.me/" target="_blank">獨異誌</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="copyrights">
            <div class="container clearfix">
                <span class="right">
                    <a href="#" class="backtotop">↑</a>
                </span>
                &copy; {{ currentYear }}&nbsp;-&nbsp; {{options.title}}
                {% if options.miitbeian or options.mpsbeian %}
                  {% if options.miitbeian %}
                  &nbsp;-&nbsp;<a target="_blank" rel="nofollow" class="external beian" href="http://www.miitbeian.gov.cn/">{{options.miitbeian}}</a>
                  {% endif %}
                  {% if options.mpsbeian %}
                  &nbsp;-&nbsp;<a target="_blank" rel="nofollow" class="external beian" href="http://www.beian.gov.cn/">{{options.mpsbeian}}</a>
                  {% endif %}
                {%else%}
                  &nbsp;-&nbsp;<a href="/">{{http.hostname}}</a>
                {% endif %}
                <br>
                Powered by&nbsp;<a target="_blank" href="https://thinkjs.org">ThinkJS2.0</a>&nbsp;&amp;&nbsp;<a target="_blank" rel="nofollow" class="external" href="https://firekylin.org">FireKylin {{VERSION}}</a>
                Designed by <a target="_blank" href="http://www.s5themes.com/theme/simplecorp/"> Site5 WordPress Themes-SimpleCorp.</a> 
             
            </div>
        </div>
    </footer>